#card {
  background-color: #ADA4A7;
  
  #single-card {
    margin: 40px;
    text-decoration: none;
  }

  p {
    font-family: 'Aguafina Script', cursive;
    font-size: x-large;
    padding-left: 16px;
    padding-top: 8px;
    color: red;
  }

}